/* The common stylesheet shared by each page */

body {
    background-image: url("../img/double-bubble-outline.png");
    /* Background image provided by www.subtlepatterns.com */
}

.navbar {
    box-shadow: 0 4px 2px -2px gray;
}

#form-box, #table-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}